.input-login {
  display: flex;
  flex-direction: column;

  margin-bottom: 24px;
}

.input-login span {
  color: #9EA3A9;
  font-size: 12px;
}

input {
  all: unset;

  color: white;
  border: 1px solid #222525;
  background-color: #3a4040;

  height: 32px;
  max-width: 25vw;
  width: 25vw;
  padding: 4px 12px;

  font-size: 24px;
  border-radius: 8px;
  margin-top: 4px;
}

input::placeholder {
  font-size: 16px;
}

input:focus {
  scale: 1.05;
  border: 1px solid white;
}