.side-image {
    background-color: white;
    display: flex;
    flex-grow: 1;
    /* background-image: url("../../assets/taskPin.png"), linear-gradient(to right, transparent, mistyrose); */
    background-image: linear-gradient(to right, transparent, rgba(17, 20, 25, 0.1), black), url("../../assets/taskPin.png");
    background-size: cover;
    background-repeat: no-repeat;

    max-width: 50vw;
    min-height: 50vh;
}